//:target {
//    animation: target-fade 3s 1;
//}
//
//@keyframes target-fade {
//    0% { background-color: rgba(0,0,0,.1); }
//    100% { background-color: rgba(0,0,0,0); }
//}

.wp-block-embed-youtube {
    .wp-block-embed__wrapper:before {
        padding: 0 !important;
    }
}

.amalker {
    min-height: 90px;
    &--aside {
        border: 1px solid #ccc;
    }
}

.videoWrapper {
    position: relative;
    margin-top: 2rem;

    iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

.site {
    .post-thumbnail {
        padding-bottom: 56.25% !important;
    }
}
