.breadcrumbs {
  margin-bottom: 20px;
}
.breadcrumbs,
.breadcrumbs a {
  color: #666 !important;
}

.emoji-container .emoji-emotion-icon {
  width: 42px !important;
  height: 42px !important;
}

code {
  display: inline-block;
  padding: 0 3px!important;
  background: #eee8aa!important;
  text-shadow: 1px 1px #fff!important;
  color: #8b0000!important;
}
