.comments-area {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem !important;
    display: none;
}

#wpdcom {
    &:before {
        content: 'Комментарии';
        display: block;
        font-size: 26px;
    }
}

.comments {
    &--telegram {
        background-color: #fff;
        padding: 2rem;
        min-height: 330px;
        margin-top: 2.5em;
    }
}

.comment-reply-title {
    margin-bottom: 1.5rem;
}

@media (max-width: 719px) {
    #comments {
        margin-left: -1rem !important;
        margin-right: -1rem !important;
        //padding: 0 !important;
    }

    .comments {
        &--telegram {
            padding: 1rem;
        }
    }
}